

    <div class="row header">
        <div class="column xlarge-8 small-12 left-text ">
            <h1 class="left-text">Funds India</h1>
            https://www.fundsindia.com/a/all-mutual-funds
        </div>
        <div class="column xlarge-4 small-12">
            <ul class="actions">
                <li><a [routerLink]="['/home']" class="arrow scrolly"><span class="label">Home</span></a></li>
                <li><a [routerLink]="['/list']" class="arrow scrolly"><span class="label">List</span></a></li>
              </ul>
        </div>
    </div>





